<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <ul  class="navbar-inverse">
  <li><a href="<%= pages_one_path %>">one</a></li>
   <li><a href="<%= pages_two_path %>">two</a></li>
   <li><a href="<%= pages_three_path %>">three</a></li>
 </ul>

    <%= yield %>
    
  </body>

 

  ©Copyright <%= Time.now.year %>

</html>



